*{
    box-sizing: border-box;
}
h3{
    text-align: center;
}
input{
    display: block;
    padding: 12px 10px;
    background-color: rgb(245, 235, 235);
    width: 100%;
    border-color: rgb(197, 201, 206);
    border-radius: 8px;
}
input[type = submit] {
    text-align: center;
    background-color: rgb(82, 235, 82);
    
}
div {
    background-color: rgb(204, 191, 191);
    padding: 20px;
    width: 50%;
    margin: 5px auto;
    border-radius: 8px;

}
input{
    margin: 5px auto;
}
label{
    color: brown;
    
}
.margin {
    margin-bottom: 15px;
}