h1{
    color: blue;
    margin-left: 50px;
    text-shadow: 2px 2px 3px #b68f8f;
    background-color: #c4cf61;
    text-align: left;
}
h2{
    color: blueviolet;
    margin-right: auto;
    text-shadow: none;
    background-color: rgb(94, 226, 200);
}
h3{
    color: hwb(0 87% 7%);
    margin-left: 40px;
    text-shadow: 2px 3px 2px 0cap;
    background-color: rgb(10, 15, 15);
    text-shadow: 0em;
}
h4{
    color: #c4cf61;
    text-align: initial;
    margin-left: auto;
    background-color: darkgoldenrod;
    text-shadow: 2px 2px 3px #eb9393 0em;
    padding: 0cqb;
}
body{
    background-color: lightblue
}